*{
    
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
font-family: CircularStd,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
line-height: 1.5;
-webkit-text-size-adjust: 100%;
}

/* navbar */

#media_nav_head{
    color: white;
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    align-items: center;
    padding:1vh 3vh;
    font-size: 30px;
}
#media_nav_head > div > img{
    width: 80%;
    height: 50px;
}
#o{
 display: flex;
 
}

/* body */
#sai{
    display:flex;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-bottom: 10vh;
}

#sai>div>img{
width: 95%;
height: 280px;
border-radius: 15px 15px 15px 15px;
}
#sai>div{
width: 22%;
margin:1%;
text-align: center;
color: white;

}
/* h1 {
position: absolute;
bottom: 8px;
left: 16px;
font-size: 20px;
} */
/* #innersubmenue1{
    margin-top: 50px;
    margin-left: 0%;
}
#innersubmenue2{
    margin-top: 50px;
    margin-left: 17%;}
#innersubmenue3{
    color: white;
    margin-top: 50px;
    margin-left: 30%;
}
#innersubmenue4{
    color: white;
    margin-top: 50px;
    margin-left: 56%;
}
#innersubmenue3>ul{
    background-color: black;
}
#innersubmenue4>ul{
    background-color: black;
} */
