*{
    
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
font-family: CircularStd,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
line-height: 1.5;
-webkit-text-size-adjust: 100%;
}

/* body */
#sai{
    display:flex;
    flex-wrap: wrap;
    margin-left: 3%;
}

#sai>div>img{
width: 95%;
height: 280px;
border-radius: 15px 15px 15px 15px;
}
#sai>div{
width: 22%;
margin:1%;
text-align: center;
color: white;
}

#innersubmenue1{
    margin-top: 50px;
    margin-left: 0%;
}
#innersubmenue2{
    margin-top: 50px;
    margin-left: 17%;}
#innersubmenue3{
    color: white;
    margin-top: 50px;
    margin-left: 30%;
}
#innersubmenue4{
    color: white;
    margin-top: 50px;
    margin-left: 56%;
}
#innersubmenue3>ul{
    background-color: black;
}
#innersubmenue4>ul{
    background-color: black;
}

/* Footer */

  .footer {
    background: #2d3748;
    height: auto;
    margin-top: 15vh; 
    padding: 30px;
    background: #2D3748;
    height:auto;
    position:relative;
    bottom:0;
    left:0;
  
  }
  .footer-section .desc {
    color: rgba(247, 250, 252, var(--text-opacity));
    letter-spacing: 0.025em;
    width: 25%;
    --text-opacity: 1;
  
    margin-top: -40vh;
  
    margin-top: -90px;
  
  }
  .footer-section {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-section .links h3 {
    color: #fff;
    margin-left: 60px;
  
    margin-bottom: 20px;
  
    margin-bottom:20px;
  
  }
  .footer-section .links .In-link li {
    list-style: none;
    margin-bottom: 15px;
    margin-right: 20px;
  }
  .footer-section .links .In-link li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section .links .In-link li:hover {
    text-decoration: underline;
  }
  
  
  .In-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .one {
    color: #fff;
    margin-top: 30px;
  }
  .social-links {
    width: 30%;
    margin-bottom: 120px;
    margin-left: 50px;
  }
  #social-logo {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
  }
  #social-logo img {
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }
  small {
    margin-left: 35px;
  }
  
  
  #croppedImage {
    margin-top: 30vh;
    margin-bottom: 3vh;
  }
  @media all and (min-width: 86px) and (max-width: 630px) {
    .footer {
      background: #2d3748;
  
  @media all and (min-width: 86px) and (max-width: 450px) {
    .footer {
      background: #2D3748;
  
      height: auto;
      width: auto;
      padding: 24px;
    }
    .footer-section {
      width: 100%;
      height: auto;
      margin: auto;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .In-link {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
  
      margin-left: -55vw;
      margin-top: 20px;
    }
    .In-link > ul {
      margin-bottom: 20px;
    }
  
      /* margin-left: -250px;
    } */
  
    .footer-section .desc,
    .social-links,
    .links {
      width: 100%;
    }
    .footer-section .desc {
  
      font-size: 18px;
    }
    .footer-section .links ul li {
      font-size: 22px;
      text-align: left;
    }
    .two {
      margin-left: 50px;
    }
    .footer-section .links h3 {
      color: #fff;
      margin-left: 0;
    }
    #social-logo,small {
      margin-left: 0;
      text-align: center;
    }
    .one {
      margin-left: -20px;
  
      font-size: 22px;
    }
    .footer-section .links ul li {
      font-size: 22px;
      text-align: left;
    }
    .two {
      margin-left: 50px;
    }
    .footer-section .links h3 {
      color: #fff;
      margin-left: 0;
  
    }
    #social-logo,small {
  
      margin-left: 70px;
    }
    .links {
      margin-top: 30px;
    }
    #croppedImage {
      margin-top: 40vh;
      margin-bottom: 3vh;
    }
  }
  
      margin-left: 0;
      text-align: center;
    }
    .one {
      margin-left: -20px;
    }
    small {
      margin-left: 70px;
    }
  }